body {
  margin: 0;
  padding: 0;
  display: flex;
}

.sidebar{
  position: relative;
  background-image: url('images/mountain_scene.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 40%;
  min-width: 400px;
  display: flex;
  justify-content: center;
}

.sidebar img {
  margin: 180px 10px 0 0;
  height: 80px;
}

@font-face {
  font-family: Gabriela;
  src: url('Gabriela/Gabriela-Regular.ttf');
}

h1 {
  font-family: Gabriela;
  margin-top: 200px;
}

.photoCredit {
  position: absolute;
  bottom: 30px;
  color: white;
}

.rightSide{
  position: relative;
  width: 60%;
  min-width: 500px;
  float: right;
  background-color: rgb(248, 248, 248);
}

.intro {
  margin: 100px 0px 60px 50px;
  max-width: 800px;
  font-size: 1.2em;
  font-weight: bold;
}

.main {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 10px 0 20px 50px;
  background-color: rgb(255, 255, 255);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.formRow {
  display: flex;
  flex-direction: row;
  
}

.formElement {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

input {
  border: 1px solid rgb(182, 187, 194);
  border-radius: 2px;
  padding: 3px;
}

label::after {
  content: "*";
  float: right;
  color: rgb(248, 199, 159)
}

/*remove asterisk for this input as it's not required*/
label[for=phoneNumber]::after {
  content: none;
}

.accountBtn {
  margin-top: 15px;
  width: 185px;
  height: 30px;
  background-color: rgb(123, 171, 187);
  border-radius: 4px;
  border: 1px solid rgb(128, 123, 123);
  cursor: pointer;
  color: white;
}

.accountInfo {
  margin: 10px 0px 0px 50px;
}


/*This handles the showing of the password criteria on */
#userPassword + span {
  display: none;
}
#userPassword:hover + span {
  display: flex;
  width: 185px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rgb(169, 211, 250);
  font-weight: lighter;
  font-size: 18px;
}

/* Remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}