body {
  margin: 0;
  display: flex;
}

.sidebar{
  position: relative;
  background-image: url('images/mountain_scene.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 40%;
  min-width: 400px;
}


.rightSide{
  
}


a {
    /* this removes the line under our links */
    text-decoration: none;
    color: rgb(94, 94, 131);
    font-weight: lighter;
    font-size: 18px;
  }

 